


/* Common setting */
body 
{
    margin: 0;
    background: rgb(211, 220, 234);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a{
    text-decoration: none;
}

button,
button:active,
button:focus {
    outline: none;
}

.container{
    width: 100%;
    max-width: 1000px;
    height: 800px;
}






/* Toolbar */

.toolsbar {
    height: 100px;
    width: 710px;
    border: 1px solid rgb(240, 240, 240);
    top: 0;
    background-color: rgb(245, 246, 247);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;

}

.section__tools{
   
   width: 160px;
   height: 100px;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   border: solid 1px rgba(185, 185, 185, 0.2);   
   font-family: 'Pangolin', cursive;
   font-size: 11px;
}

/*
.input__from__buffer{
    width: 80px;
}
*/

.picture{
    width: 70px;
}

.tools{
    width: 100px;
}

.figures{
    width: 220px;
}

.thickness{
    width: 60px;
}

.colors{
    width: 260px;
}

.functionality{
    height: 80px;
}






/* Picture */

.picture >.functionality{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.rotare__image{
    display: flex;
    justify-content: center;
}

.button__rotate {
    border: none;
    background-color: #f5f6f7e1;
}

.load {
    width: 30px;
    height: 30px;
    margin: 4px;
    cursor: pointer;
    transition: transform .1s linear;
}

.load:hover{
    transform: scale(1.2);
}

#choose__box__upload{
    width: 20px;
    height: 20px;
    display: none;
}


#choose__box__download{
    width: 20px;
    height: 20px;
    display: none;
}



/* Tools */
.tools > .functionality{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tool {
    height: 20px;
    width: 20px;
    margin: 8px;
    cursor: pointer;
    transition: transform .2s linear;
}

.tool:hover{
    transform: scale(1.5);
}




/* Figures */

.figures > .functionality{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #eeeeeee7;
    margin: 6px;
}

.figure__row{
    margin-left: 4px;
    margin-right: 4px;
}

.figure {
    height: 24px;
    width: 24px;
    margin: 2px;
    cursor: pointer;
    transition: transform .2s linear;
}

.figure:hover{
    transform: scale(1.1);
}




/* Thickness */

.thickness > .functionality{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.thickness_size{
    width: 48px;
    background-color: black;
    margin: 2px;
    border: 1px solid black;
    transition: transform .2s linear;
}

.thickness_size:hover{
    transform: scale(1.1);
}

.thickness_size_one{
    height: 5px;
}

.thickness_size_two{
    height: 8px;
}

.thickness_size_three{
    height: 11px;
}

.thickness_size_four{
    height: 15px;
}

.thickness_size_custom{
    width: 48px;
    background-color: white;
    margin: 2px;
    border: 1px solid black;
    text-align: center;
}





/* Colors */

.colors .functionality{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.color .functionality .row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.column{
    border: 1px solid rgba(0,0,0,0.2);
    margin: 2px;
    width: 20px;
    height: 20px;
    transition: transform .2s linear;
}

.column:hover{
    transform: scale(1.2);
}



/* Canvas */
.canvas{  
    margin: 10px;
    background-color: white;
    
    -webkit-box-shadow: 5px 5px 5px 1px rgba(1,1,1,0.2);
    box-shadow: 5px 5px 5px 1px rgba(1,1,1,0.2);
    border-radius: 1px;
}



/*  Info__bar */

.info__bar{
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 960px;

    border: solid 1px rgba(185, 185, 185, 0.3);
    background-color: rgb(245, 246, 247);

    display: flex;
    justify-content: center;

    font-family: 'Pangolin', cursive;
    font-size: 15px;
}

.info__bar > div{
    height: 30px;
    width: 33.3%;
    border: 1px solid rgba(0,0,0,0.2);
}

.current__color{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.current__color  div {
    width: 50%;
    height: 20px;
    line-height: normal;
    text-align: center;
}

.current__color__block{
    background-color: black;
    margin-right: 20px;
    border: 1px solid rgba(1,1,1,0.2);
    border-radius: 1px;
}

.current__font{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.current__font  div {
    width: 50%;
    height: 20px;
    line-height: normal;
    text-align: center;
}

.current__font__block{

    margin-right: 20px;
    border: 1px solid rgba(1,1,1,0.2);
}

.current__size{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.current__size  div {
    width: 50%;
    height: 20px;
    line-height: normal;
    text-align: center;
}

.current__size__block{
    margin-right: 20px;
    border: 1px solid rgba(1,1,1,0.2);
}
