<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Films</h2>
        <p>List of films in database</p>
        <p><a class="btn btn-default" href=" ../Films">Open &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Producers</h2>
        <p>List of producers in database</p>
        <p><a class="btn btn-default" href=" ../Producers">Open &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help</h2>
        <p>Help</p>
        <p><a class="btn btn-default" href="../Help">Open &raquo;</a></p>
    </div>
</div>
