<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassLibraryMethods.Properties.Settings.DB_dotNetConnectionString"
            connectionString="Data Source=User-PC;Initial Catalog=DB_dotNet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>