body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Section inner */ 
.section_inner{
    background-image: url(/img/inner_bg.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
}

.inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner > div {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.inner_title{
    font-size: 56px;
}

.inner_title > span{
    color: #9f449b;
}

.under_inner_title{
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
}

.under_inner_title > p > span{
    font-size: 18px;
    opacity: .9;
}

.under_inner_title > p{
    text-align: center;
}

.first_row_inner{
    display: flex;
    justify-content: space-between;
}

.second_row_inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn_inner {
    background-image: url(/img/snape.svg);
    width: 160px;
    height: 170px;
    background-size: cover;
    margin: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}
.btn_inner > img{
    margin-bottom: 20px;
}

.left_inner_row, .right_inner_row{
    display: flex;
    justify-content: space-between;
}

.arrow_down_inner{
    background-image: url(/img/snape.svg);
    width: 84px;
    height: 90px;
    background-size: cover;
    margin: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 44px;
    line-height: 90px;
}

/* Section navbar */


.logo > span{
    color: #9f449b;
}

.section_navbar{
    height: 104px;
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.left_nav{
    margin: 30px;
}

.right_nav{
    margin: 28px;
    width: 50%;
}

.left_nav{
    font-size: 32px;
    opacity: 0.8;
}

.nav_list{
    display: flex;
    justify-content: space-between;
}

.nav{
    font-size: 14px;
}

.nav > a{
    color: black;
    opacity: 0.7;
    font-weight: 600;
    text-transform: uppercase;
}

.nav > a:hover{
  color: #9f449b;
}

.logo{
    cursor: pointer;
}

/* Section  parts */

.section_parts{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #eeeeee;
}

.parts{
    display: flex;
    justify-content: space-between;
}

.part{
    margin: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.btn_part {
    background-image: url(/img/snape.svg);
    width: 160px;
    height: 170px;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

.title_part{
    font-size: 24px;
    opacity: 0.5;
    font-weight: 600;
}

.text_part{
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
}
